<div class="item-list">
  <div class="product-list" *ngFor="let item of items">
    
    <button class="finished-task" (click)="toggleBought(item)">
      <i class="fas fa-check"></i>
    </button>

    <div class="item-name">
      <span *ngIf="!item.isEditing">{{ item.productName }}</span>
      <input *ngIf="item.isEditing" [(ngModel)]="item.productName" />
    </div>
    
    <button class="edit-button" *ngIf="!item.isEditing" (click)="editItem(item)">
      <i class="fas fa-edit"></i> Editar
    </button>

    <button class="save-button" *ngIf="item.isEditing" (click)="saveItem(item)">
      <i class="fas fa-save"></i> Salvar
    </button>
    <button class="cancel-button" *ngIf="item.isEditing" (click)="cancelEdit(item)">
      <i class="fas fa-times"></i> Cancelar
    </button>

    <button class="delete-button" (click)="removeItem(item)">
      <i class="fas fa-trash"></i> Remover
    </button>
  </div>
</div>
